@use "./utils.scss" as *;

.titchy {
  /* COlORS: */
  --titchy-color-primary:   #0c0c0c;
  --titchy-color-secondary: #f0f0f0;
  --titchy-color-tertiary:  #1f1f1f;

  // --titchy-color-accent: #15f760; // I'm considering this color instead
  --titchy-color-accent:  #a8f715;
  --titchy-color-info:    #1ab6f3;
  --titchy-color-notice:  #6d20e9;
  --titchy-color-success: #15f760;
  --titchy-color-warn:    #f5b220;
  --titchy-color-error:   #dd1d1d;

  /* VALUES: */
  --titchy-value-radius-min:  0px;
  --titchy-value-radius-1:   10px;
  --titchy-value-radius-max: max(100dvh, 100dvw);
  // Spacings
  --titchy-value-spacing-0:   0.5px;
  --titchy-value-spacing-1:   2.5px;
  --titchy-value-spacing-2:   5.0px;
  --titchy-value-spacing-3:   7.5px;
  --titchy-value-spacing-4:  10.0px;
  --titchy-value-spacing-5:  12.5px;
  --titchy-value-spacing-6:  15.0px;
  --titchy-value-spacing-7:  17.5px;
  --titchy-value-spacing-8:  20.0px;
  --titchy-value-spacing-9:  22.5px;
  --titchy-value-spacing-10: 25.0px;
  --titchy-value-spacing-11: 27.5px;
  --titchy-value-spacing-12: 30.0px;
  --titchy-value-spacing-13: 32.5px;
  --titchy-value-spacing-14: 35.0px;
  --titchy-value-spacing-15: 37.5px;
  --titchy-value-spacing-16: 40.0px;
  --titchy-value-spacing-17: 42.5px;
  --titchy-value-spacing-18: 45.0px;
  --titchy-value-spacing-19: 47.5px;
  --titchy-value-spacing-20: 50.0px;
  // Font Sizes
  --titchy-value-text-xs: 0.750rem;
  --titchy-value-text-s:  0.875rem;
  --titchy-value-text-m:  1.000rem;
  --titchy-value-text-l:  1.125rem;
  --titchy-value-text-xl: 1.250rem;
}

:root {
  interpolate-size: allow-keywords;
}

.titchy, .titchy * {
  &:where(
    header, footer,
    nav, main, section, div,
    form, label, button, a[type=button],
    article, details, summary, content
  ) {
    @include flex(true);
  }

  &:where(
    svg.lucide
  ) {
    @include size(20px);
  }

  & { @include default(); }
}
