@use "./utils.scss" as *;

.titchy {
  /* COlORS: */
  --x-color-primary:  #0c0c0c;
  --x-color-secondary:  #f0f0f0;
  --x-color-tertiary:  #1f1f1f;

  // --x-color-accent: #15f760; // I'm considering this color instead
  --x-color-accent: #a8f715;

  /* VALUES: */
  --x-value-radius-1: 10px;
  // Spacings
  --x-value-spacing-0:  0.5px;
  --x-value-spacing-1:  2.5px;
  --x-value-spacing-2:  5.0px;
  --x-value-spacing-3:  7.5px;
  --x-value-spacing-4: 10.0px;
  --x-value-spacing-5: 12.5px;
  --x-value-spacing-6: 15.0px;
  --x-value-spacing-7: 27.5px;
  // Font Sizes
  --x-value-text-s: 0.875rem;
  --x-value-text-m: 1.000rem;
  --x-value-text-l: 1.125rem;
}

:root {
  interpolate-size: allow-keywords;
}

.titchy, .titchy * {
  &:where(
    header, footer,
    nav, main, section, div,
    form, label, button, a[type=button],
    article, details, summary, content
  ) {
    @include flex(true);
  }

  &:where(
    svg.lucide
  ) {
    @include size(20px);
  }

  & { @include default(); }
}
