/* ================================= Mixins ================================= */

@mixin width($value, $mode: 'none') {
  width: $value;
  @if $mode == 'min' or $mode == 'all' { min-width: $value; }
  @if $mode == 'max' or $mode == 'all' { max-width: $value; }
}

@mixin height($value, $mode: 'none') {
  height: $value;
  @if $mode == 'min' or $mode == 'all' { min-height: $value; }
  @if $mode == 'max' or $mode == 'all' { max-height: $value; }
}

@mixin size($value, $mode: 'none') {
  @include width ($value, $mode);
  @include height($value, $mode);
}

@mixin fill-absolute() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin fill-fixed() {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin flex-center() {
  justify-content: center;
  align-items: center;
}

@mixin hide-scrollbar() {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { display: none; }
}

@mixin focused() {
  z-index: 10;
  outline-offset: V(spacing-1);
  outline-width: V(spacing-1);
  outline-style: solid;
  outline-color: C(secondary, 25%);
}

@mixin default() {
  position: relative;
  box-sizing: border-box;

  transition: all 200ms ease-out;
  transition-behavior: allow-discrete;

  outline-color: transparent;

  &:focus-visible {
    @include focused();
  }
}

@mixin flex($reset: false) {
  @if $reset { all: unset; }
  display: flex;
  flex-direction: column;
}

/* ================================ Functions =============================== */

@function mix($colors...) {
  @return color-mix(in oklab, $colors);
}

@function set-alpha($color, $alpha: 100%, $opaque: false) {
  @return mix($color $alpha, if($opaque, black, transparent));
}

@function V($value) {
  @return var(--x-value-#{$value});
}

@function C($color, $alpha: 100%) {
  @if $alpha == 100% {
    @return var(--x-color-#{$color});
  } @else {
    @return set-alpha(var(--x-color-#{$color}), $alpha);
  }
}
