/* ================================= Mixins ================================= */

@mixin width($value, $mode: 'none') {
  width: $value;
  @if $mode == 'min' or $mode == 'all' { min-width: $value; }
  @if $mode == 'max' or $mode == 'all' { max-width: $value; }
}

@mixin height($value, $mode: 'none') {
  height: $value;
  @if $mode == 'min' or $mode == 'all' { min-height: $value; }
  @if $mode == 'max' or $mode == 'all' { max-height: $value; }
}

@mixin size($value, $mode: 'none') {
  @include width ($value, $mode);
  @include height($value, $mode);
}

@mixin focused() {
  outline-offset: V(spacing-1);
  outline-width: V(spacing-1);
  outline-style: solid;
  outline-color: C(secondary, 25%);
}

@mixin default() {
  position: relative;
  box-sizing: border-box;

  transition: all 200ms ease-out;
  transition-behavior: allow-discrete;

  outline-color: transparent;

  &:focus-visible {
    @include focused();
  }
}

/* ================================ Functions =============================== */

@function mix($colors...) {
  @return color-mix(in oklab, $colors);
}

@function set-alpha($color, $alpha: 100%) {
  @return mix($color $alpha, transparent);
}

@function V($value) {
  @return var(--x-value-#{$value});
}

@function C($color, $alpha: 100%) {
  @if $alpha == 100% {
    @return var(--x-color-#{$color});
  } @else {
    @return set-alpha(var(--x-color-#{$color}), $alpha);
  }
}
